* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  /* background color */
body {
    background-image: radial-gradient(rgb(255, 196, 0) , rgb(255, 174, 0));
}

/* aligning all headings to center */
h1,h3{
    text-align: center;
    
}
h1 {
    font-size: 30px;
}

/* centering the contents of the game container */


/* adding border to hangman figure and the unknown word */
.figure-container .rod{
    stroke : #000000;
    stroke-width : 3;
}

a {
    text-decoration: none;
    color: #000;
}
.button {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #000;
}

/* designing keyboard of all alphabets */
/*.keyboard{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
}*/
.row{
    text-align: center;
}
/* designing a key in the digital keyboard displayed  */
.alphaKeys{
    width: 30px;
    height: 30px;
    color: #000;
    font-size: 15px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.game_container {
    text-align: center;
    background: #fff;
    max-width: 545px;
    width: 1800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
    border-radius: 15px;
    border:2px solid #000;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.477);
}
svg {
    border: 2px solid #000;
    margin: 15px;
    text-align: center;
    border-radius: 5px;
    height: 250px;
}

.alphaKeys:hover{
    opacity: 0.5;
    color: black;
}


/* designing the key when it turns out to be wrong */
.wrongLetter{
    background-color: red;
    color: white;
}

/* designing the key when it turns out to be right */
.rightLetter{
    background-color: rgb(255, 201, 4);
    color: white;
}

/* designing the slot for unknown word */
.word{
    text-align: center;
    /* margin: 15px; */
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.word p{
    margin: 15px 10px;
}
.letter{
    border-bottom: 3px solid black;
    padding: 0.6rem;
    box-sizing: border-box;
    margin: 0  0.5rem 0 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* leaving blank space when between two words */
.word .space{
    border: none;
    
}
/* designoing popup menu */


.popup{
    width: 25vw;
    background-color: rgb(145, 51, 228);
    border-radius: 5%;
    border: 3px solid black;
    box-shadow: 5px 5px rgba(254, 254, 254, 0.421);
    font-size: 1.3rem;
    padding: 10px;
    display: none;
}
/* styling the popup switch link */
.popup p{
    text-align: center;
}

.popup p:hover{
    color: rgb(61, 252, 61);
    cursor: pointer;
}

/* styling close button in the popup */
.popup-close{
    background-color: rgb(145, 51, 228);
    margin-left: 95%;
    font-size: 1.2rem;
    border: none;
}


/* styling the input section of the forms */
.popup input{
    margin: 10px;
    width: 98%;
    color: black;
}

/* styling the submit button of the forms */
.submitButton{
    background-color: rgb(89, 5, 167);
    padding: 10px;
    margin: 0 40%;
}

/* styling the login/submit button of the forms */
.loginSignup-button{
    /* text-align: right; */
    margin: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.loginSignup-button a:hover{
    color: white;
}

#multi{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: fit-content;
    padding: 7px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;

}