*{
    box-sizing: border-box;
    padding: 0;
    color: #eed;
}


/* background color */
body{
    background-image: radial-gradient( circle ,rgb(99, 0, 99) ,rgb(234, 10, 186));
}

/* aligning all headings to center */
h1,h3,h2{
    text-align: center;
}
h2{
    color: rgb(160, 160, 146);

}
/*display of options*/
.options-container{
    transform: scale(1);
    text-align: center;
}

.options button {
    background-color: yellow;
    color: #000;
    border: 2px solid #000;
    border-radius: 7px;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 17px;
    cursor: pointer;
}
.options {
    text-align: center;
    display: block;
    margin: 5px;
}
.options button:hover,.login-button:hover {
    background-color: rgb(155, 145, 2);
}
/* centering the contents of the game container */
.game_container{
    display: grid;
    justify-content: center;
    margin-top: 12vh;
}

/* adding border to hangman figure and the unknown word */
.figure-keyboard{
     margin-bottom: 15vh ;
     display: flex;
     /* background-color: antiquewhite; */
}

.figure-container{
    margin-right:150px ;
}


/* designing keyboard of all alphabets */
.keyboard{
    background-color: rgb(216, 151, 199);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
}

.keyboard button{
    width: 5.5rem;
    height: 5.5rem;
    color: black;
    font-size: large;
    background-color: yellow;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.keyboard button:hover{
    opacity: 0.5;
    background-color: rgb(218, 236, 22);
    color: black;
    /* background-color: blue; */
}

.row{
    text-align: center;
}
.word{
    text-align: center;
    margin-bottom: 6vh ;
}



/* designing the slot for unknown word */
.letter{
    border-bottom: 3px solid white;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0  0.5rem 0 0.5rem;
    
}
.popup1 , .popup2 {
    display: none;
}
/* designing popup menu */
.popup , .popup1 , .popup2{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.333);
    transform: scale(1);
}
.popupWin , .popupLose , .popuponl{
    height: 200px;
    width: 250px;
    position: absolute;
    background-color: rgb(145, 51, 228);
    left: 50%;
    top: 50%;
    align-items: center;
    text-align: center;
    transform: translate(-50% ,-50%);
    border-radius: 10px;
    border: 3px solid black;
    
}

.popup p , .popup1 p , .popup2 p {
    text-align: center;
    font-weight: 400;
    color: rgb(254, 242, 13);

}
.popup .newgame , .popup1 .newgame , .popup2 .newgame{
    position: relative;
    margin: auto;
    padding: 10px 0;
    color: #000;
    text-align: center;
    height: 50px;
    width: 150px;
    font-size: 15px;
    border:2px solid #000;
    border-radius: 5px;
    background: rgb(239, 239, 58);
}
.popup .newgame:hover , .popup1 .newgame:hover , .popup2 .newgame:hover{
    background: rgb(183, 164, 0);
}
.popup .newgame i , .popup1 .newgame i , .popup2 .newgame i{
    color: #000;
    padding-right: 10px;
    font-size: 15px;
}
.popup.show ,.popup1.show ,.popup2.show{
    display: contents;
}
.popup-close1, .popup-close2{
    /* padding: 1rem; */
    background:transparent;
    margin-left: 92%;
    /* border-radius: 50%; */
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}
.login-button{
    text-align: center;
    margin-right: 2px;
    cursor: pointer;
    color: #000;
    height: 30px;
    width: 50px;
    background-color: yellow;
    border: 2px solid #000;
    border-radius: 4px;
}

.popup-loginpop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.333);
    transform: scale(0);
}
.popup-loginpop .login{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    height: 200px;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
    background-color: rgb(179, 0, 255);
    border: 2.5px solid rgb(0, 0, 0) ;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.571);
    font-size: 20px;
}
.login input{
    font-size: 17px;
}
.popup-loginpop.show{
    transform: scale(1);
}
.popup-loginpop .login input{
    margin: 15px;
    color: #000;
}
background-color button.active {
    background-color: cadetblue;
    border: 3px solid #000;
    color: #000;
}
span {
    color: yellow;
    font-weight: 400;
}
.popup-close1 i:hover ,.popup-close2 i:hover{
    color: red;
}
svg{
    transform: scale();
}
.options-container .options button:disabled {
    border: 3px solid #393939;
    color: #808080;
    background-color: #b3b3b3;
}
.options-container .options button.active{
    background-color: rgb(218, 236, 22);
    color: #000;
    border: 2px solid #000;
}
.word{
    background-color: rgb(255, 0, 144);
    border: 2px solid #000;
    height: 300px;
    width: 900px;
    border-radius: 10px;
}



